.marcoResultado{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 16px;

    @media screen and (max-width: 800px) {
        margin-left: 20px;
        margin-right: 20px;
        width: 87%;
    }

}

.marcoBreadCrumbs{
    font-size: 14px;
    width: 70%;
    margin: 16px auto 16px auto;
    
}