.marcoResultado{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding-top: 16px;


}

.marcoBreadCrumbs{
    font-size: 14px;
    width: 70%;
    margin: 16px auto 16px auto;
    
}