$colorTexto: #333333;

.containerItemBusqueda{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: $colorTexto;
    margin-top: 16px;
    margin-bottom: 16px;
}


.thumbnailProducto{
    width: 180px;
    border-radius: 4px;
    margin-right: 16px;
    margin-left: 16px;
}

.precioBusqueda{
    margin-bottom: 32px;
}

.numeroPrecio{
    font-size: 24px;
    margin-right: 10px;
}

.precioTituloDisponibles{
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.address{
    font-size: 12px;
    padding: 25px;
}

a{
    text-decoration: none;
}



.productoNoEncontrado{
    text-align: left;
    padding: 40px;
    width: 70%;
    margin: auto;
    h2{
        font-size: 25px;
    }
    li{
        font-size: 20px;
    }

}

hr{
    border: 1px solid #eeeeee;
}